.cta {
  /* background-color: rgba(9, 42, 70, 0.37); */
  color: white;
  padding: 2rem;
  text-align: center;
}

.cta h2 {
  font-size: 2rem;
}

.cta-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #282c34;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.cta-button:hover {
  background-color: #e1e1e1;
}
