/* .form-group {
  position: relative;
  margin-top: 2rem;
  border-bottom: 1px solid lightgray;
}

.form-control {
  border: transparent;
  border-bottom: 1px solid lightgray;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-control:focus + .floating-label,
.form-control:not(:placeholder-shown) + .floating-label {
  top: -20px;
  font-size: 12px;
  color: gray;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 0.2s ease all;
  color: lightgray;
  padding-left: 1rem;
}

#password {
  border: transparent;
}
#email {
  border: transparent;
} */

.login-page {
  background-color: rgba(23, 84, 137, 0.612);
  height: 100vh;
  display: flex;
  justify-content: center;
}
